{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <title>Document</title>
</head>
<body>

    <nav class="bg-white py-4 px-6 shadow-sm flex justify-between items-center">
        <div class="flex items-center gap-2">
            <div class="bg-primary w-8 h-8 rounded-lg flex items-center justify-center text-white font-bold text-lg">T</div>
            <span class="text-xl font-bold tracking-tight">TurismoApp</span>
        </div>

        <div class="hidden md:flex gap-8 text-gray-600 font-medium">
            <a href="#" class="hover:text-black">Inicio</a>
            <a href="#" class="hover:text-black">Catálogo</a>
        </div>

        <div class="flex gap-3">
            <button class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 font-medium hover:bg-gray-50 transition">
                Iniciar Sesión
            </button>
            <button class="px-4 py-2 bg-primary text-white rounded-lg font-medium hover-bg-primary transition shadow-md">
                Registrarse
            </button>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>